html{
	background:rgb(40,40,40);
	font-variant: small-caps;
	font-family: Arial, Helvetica, sans-serif;
	color:white;
}
a{
	color:white;
	font-variant: small-caps;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: bold;
	text-decoration: none;
	padding: 20px;
}
a:hover{
	background:red;
}
.header .title{
	text-decoration:underline solid 3px;
	margin-bottom: 50px;
	color:rgb(255, 43, 43);
}
.container{
	padding:0px;
	background:linear-gradient(to right,rgb(40,40,40),black,rgb(40,40,40));
}

/*
	Specific Elements of Index
*/
.header{
	padding:60px;
	position: relative;
}
.header .left-bar{
	width:50%;
}
.header .left-bar .image{
	width:100%;
}
.header .left-bar .image img{
	width:100%;height:100%;
}
.header .bio{
	width:100%;
}
.header .right-bar{
	width:50%;
	position:absolute;
	top:10px;right:0px;
	height:100%;
}
.header .right-bar .menu{
	padding:30px;
}
.header .right-bar .menu a{
	display:block;
	width:max-content;
}
.header .right-bar .social{
	padding: 10px;
  position: absolute;
	bottom:10px;
}
.header .right-bar .social a:hover{
	background: none;
}
.header .right-bar .social a img{
	width:30px;height:30px;
}